.project-background {
  background-image: url("../src/assets/StartPage/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 369px;
  padding: 15px;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.card-container .photo-box-avatar {
  width: 150px;
  height: 145px;
  border-radius: 50%;
  border: 1px solid white;
}

.photo-box-title {
  font-size: 14px;
  color: white;
  margin-top: 8px;
}

.photo-box-description {
  font-size: 14px;
  color: white;
  font-weight: 400 ;
  margin-top: 8px;
}

.card-container .photo-box-name {
  font-size: 45px;
  font-weight: 700;
}

.know-more-btn {
  width: 127px;
  height: 40px;
  background-color: #222935;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 400;
  transition: background-color 1s;

  &:hover {
    background-color: #26c17e;
  }
}