.inner-container {
    display: flex;
    align-items: flex-start;
    height: 100vh;
    flex-grow: 2;
    margin-left: 250px;
}

.menu-button-container {
    position: fixed;
    top: 20px;
    left: 250px;
    z-index: 10;
    border: 1px solid #667081;
    border-left: none;
    border-top-right-radius: 6px; 
    border-bottom-right-radius: 6px; 
}

.menu-button-container.left-zero {
    left: 0;
}

.project-2-container {
    display: flex;
    flex-direction: column;
}

.margin-left-zero {
    margin-left: 0;
}

/* Modo oscuro */
.dark-mode {
    background-color: #222935;
    color: #fff;
}

.dark-mode .theme-slider {
    background-color: rgba(119, 116, 116, 0.8);
}

.menu-button-container.dark-mode .your-button-class {
    background-color: #333;
    color: #fff;
}

.project-2-container.dark-mode .some-child-class {
    background-color: #333;
    color: #fff;
}

/* Slider para modo oscuro */
.theme-slider {
    position: fixed;
    top: 22px;
    right: 10px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 252, 252, 0.8);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    width: 65px;
    height: 45px;
}

.theme-title {
    margin-bottom: 4px;
    font-size: 11.5px;
    font-weight: 700;
}

.theme-slider input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.slider {
    width: 38px;
    height: 18px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    transition: background-color .4s;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.slider::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    bottom: 1px;
    background-color: #26C17E;
    transition: transform .4s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked + .slider {
    background-color: #5c5959;
}

input[type="checkbox"]:checked + .slider::before {
    transform: translateX(24px);
}

/* Responsive */
@media (max-width: 600px) {
   .inner-container {
        margin-left: 54px;
    }

    .margin-left-zero {
        margin-left: 0;
    }

    .menu-button-container {
        position: fixed;
        top: 20px;
        left: 54px;
        z-index: 10;
    }
}