@import '../../styles/variables';
@import '../../styles/mixins';

.education-container {
    @include container-styles;
}

.education-title {
    @include title-styles;
}

.education-data-container {
  max-height: 380px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f5f5f5;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
}

.education-info-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.year-container {
  display: flex;
  flex-direction: column;
}

.year {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-weight: 700;
}

.line {
  width: 5px;
  height: auto;
}

.carrer-info-container {
  display: flex;
}

.career-container {
  background-color: #eeeeee;
  padding: 10px;

  h3, p {
    color: #000;
  }
}

.vector {
  margin-top: 12px;
}
