.education-container {
  margin-top: 25px;
  margin-left: 35px;
  margin-right: 30px;
}

.education-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  color: #26c17e;
}

.education-data-container {
  max-height: 380px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f5f5f5;
}

.education-data-container::-webkit-scrollbar {
  width: 8px;
}

.education-data-container::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.education-data-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.education-info-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.year-container {
  display: flex;
  flex-direction: column;
}
.year {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-weight: 700;
}

.line {
  width: 5px;
  height: auto;
}

.carrer-info-container {
  display: flex;
}

.career-container {
  background-color: #eeeeee;
  padding: 10px;
}

.career-container h3,
.career-container p {
    color: #000;  /* Color negro */
}

.vector {
  margin-top: 12px;
}
