.custom-button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.custom-button.primary {
  background-color: #222935;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.custom-button.primary:hover {
  background-color: #1e9e6a;
}

.custom-button.secondary {
  background-color: #f0f0f0; /* Color de fondo gris claro */
  color: #333; /* Color de texto oscuro */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s; /* Transición suave de colores */
  border: 1px solid #ccc; /* Borde delgado */
    text-decoration: none;
}

.custom-button.secondary:hover {
  background-color: #e0e0e0; /* Color de fondo ligeramente más oscuro al pasar el cursor */
}

.custom-button.goBack1 {
  /* Estilos para el botón "goBack1" */
  background-color: transparent;
  color: white;
  font-size: 16px;
  gap: 5px;
  transition: background-color 1s;
  padding: 5px;
  text-decoration: none;
}

.custom-button.goBack1:hover {
  background-color: #26c17e;
  border-radius: 5px;
}

.custom-button.goBack2 {
  /* Estilos para el botón "goBack2" */
  display: none;
  border: none;
  background-color: transparent;
}

@media (max-width: 600px) {
  .custom-button.goBack1 {
    display: none;
  }

  .custom-button.goBack2 {
    display: flex;
  }
}
