.goUp-btn-container {
    position: fixed;
    bottom: 0;
    left: 94%;
    z-index: 10;
    background-color: #222935;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 1s;
    margin-top: auto; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #667081;
    border-bottom: none;
}