.portfolio-container {
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 30px;
}

.portfolio-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #26c17e;
}

.dark-mode .portfolio-to-search-container > .active {
    color: #ffffff; 
}

.portfolio-to-search-container > span {
    color: #26c17e;
}

.portfolio-to-search-container > .active {
    color: black;
}


.portfolio-to-search-container {
    display: flex;
    gap: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.portfolio-to-search-container > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #26c17e;
}

.portfolio-item-container {
    position: relative;
    max-width: 308px;
    height: 190px;
    padding: 10px;
    padding-left: 0;
    display: inline-block;
    padding-bottom: 0;
    overflow: hidden; /* Esta línea asegura que cualquier contenido que exceda los límites del contenedor no se muestre */
}

.portfolio-item-text-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 292px;
    height: 180px;
    border: #b2b6bbab 1px solid;
    padding: 15px;
    background-color: #efececab;
    opacity: 0;
    top: 100%;  /* Posición inicial: justo debajo de la imagen */
    transform: translateY(0);  /* Sin traslación inicial */
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

.portfolio-item-container:hover .portfolio-item-text-container {
    opacity: 1;
    transform: translateY(-100%); 
}

.portfolio-item-text-container > h4 {
    color: #26c17e;
    font-family: open sans;
    font-weight: 700;
    font-size: 16px;
    box-sizing: border-box;
}

.view-resource {
    font-family: open sans;
    font-weight: 400;
    font-size: 14px;
    color: #26c17e;
}

.portfolio-item-container > img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.hidden {
    display: none;
}

.fade-out {
    animation-name: fadeOutShrink;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes fadeOutShrink {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

.fade-in-from-right {
    opacity: 0;
    transform: translateX(100%);
    animation-name: fadeInFromRightAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeInFromRightAnimation {
    to {
      transform: translateX(0);
      opacity: 1;
    }
}



