.menu-btn-container {
    background-color: #222935;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 1s;
    margin-top: auto;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
}

