$primary-margin-top: 25px;
$primary-margin-left: 35px;
$primary-margin-right: 30px;

$title-margin-top: 20px;
$title-margin-bottom: 20px;
$title-font-family: 'Open Sans', sans-serif;
$title-color: #26c17e;