@import "../../styles/variables";
@import "../../styles/mixins";

.skills-container {
  @include container-styles;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.skills-title {
  @include title-styles;
}

.add-skill-container{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 10px;
  border: 1px solid #26c17e;
  border-radius: 8px;
  padding: 15px;
  
  >form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    > div {
      > input {
        height: 40px;
        width: 361px;
        border-radius: 8px;
        margin-left: 20px;
        padding: 10px;
        font-family: sans-serif;
      }
    }
  }
}

.input-error {
  border-color: red; // Cambia el borde a rojo
}

@keyframes colorChange {
  0% { 
    color: black;
    text-shadow: none;
  }
  100% { 
    color: rgb(250, 1, 1);
  }
}

.error-message {
  color: red;
  font-size: 14px; 
  margin-top: 10px;
  animation: colorChange 3s infinite alternate;
}

.add-skill-btn{
  background-color: #222935;
  height: 40px;
  width: 103px;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.skill-bar {
  height: 29px;
  background-color: #e0e0e0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-items: center;
}

.skill-level {
  height: 100%;
  background-color: #26c17e;
}

.skill-name {
  z-index: 1;
  position: absolute;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  font-family: "Open Sans", sans-serif;
}

.scale {
  width: 100%;
  height: 10px;
  margin-top: 10px;
}

.scale-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  img.scale {
    width: 100%;
    height: 10px;
  }

  > div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;

    > span {
      position: absolute;
      transform: translateX(-50%);
      white-space: nowrap;
      font-size: 11px;
      font-family: sans-serif;
      color: #667081;

      &:nth-child(1) {
        left: 0%;
        transform: translateX(0%);
      }

      &:nth-child(2) {
        left: 22%;
      }

      &:nth-child(3) {
        left: 80%;
      }

      &:nth-child(4) {
        left: 100%;
        transform: translateX(-100%);
      }
    }
  }
}
