.side-bar {
  position: fixed;
  background-color: #222935;
  width: 250px;
  top: 0;
  bottom: 0;
  color: #667081;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  border-right: 1px solid #667081;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 129px;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 50px;

  > h4 {
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
  }
}

.user-profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid white;
}

.side-bar > ul {
  list-style: none;
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    align-items: center;
    width: 250px;
    height: 60px;
    gap: 15px;
    cursor: pointer;
    transition: all 1s;

    &:hover {
      color: #26C17E;

      img {
        filter: sepia(1) saturate(5000%) hue-rotate(140deg);
        transition: filter 1s;
      }
    }

    > img {
      display: flex;
      width: 14px;
      height: 14px;
      margin-left: 15px;
    }
  }
}

.goback-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  gap: 15px;
  cursor: pointer;
  transition: all 1s;
  margin-top: auto;
}

.go-back-1 {
  display: flex;
  border: none;
  padding: 5px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  gap: 5px;
  cursor: pointer;

  &:hover {
    background-color: #26C17E;
    border-radius: 5px;
  }
}

.go-back-2 {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.go-back-link {
  display: flex;
  gap: 15px;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 1s;
}

@media (max-width: 600px) {
  .side-bar {
    width: 54px;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
  }

  .user-container {
    flex-direction: row;
    width: 54px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    > h4 {
      display: none;
    }
  }

  .side-bar > ul > div > li, .goback-container > span {
    display: none;
  }

  .side-bar > ul > div, .goback-container {
    justify-content: center;
    width: 54px;
  }

  .user-profile-photo {
    width: 40px;
    height: 40px;
  }

  .side-bar > ul > div > img {
    margin-left: 0;
  }

  .goback-container {
    margin-top: auto;
  }

  .go-back-1 {
    display: none;
  }

  .go-back-2 {
    display: block;
  }

  .side-bar .photo-box {
    display: flex;
    flex-direction: column;
    width: 54px;
    height: auto;
    margin-top: 20px;

    .photo-box-name {
      display: none;
    }

    .photo-box-avatar {
      width: 40px;
      height: 40px;
    }
  }
}
