.feedbacks-container {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.feedbacks-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #26c17e;
}

.feedback-info-container{
    padding: 20px;
    background-color: #EEEEEE;
}

.feedback-info-container p {
    color: #000;  /* Color negro */
}

.feedback-people-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}