.experience-container {
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 30px;
}

.experience-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #26c17e;
}

.experience-info-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.company-date-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 43px;
    gap: 5px;
}