.side-bar {
    position: fixed;
    background-color: #222935;
    width: 250px;
    top: 0;
    bottom: 0;
    color: #667081;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 129px;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.user-container > h4 {
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.user-profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid white
}

.side-bar > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.side-bar > ul > div {
    display: flex;
    align-items: center;
    width: 250px;
    height: 60px;
    gap: 15px;
    cursor: pointer;
    transition: all 1s;
}

.side-bar > ul > div:hover {
    color: #26C17E;
}

.side-bar > ul > div:hover img {
    filter: sepia(1) saturate(5000%) hue-rotate(140deg); 
    transition: filter 1s;
}

.side-bar > ul > div > img {
    display: flex;
    width: 14px;
    height: 14px;
    margin-left: 15px;
}

.goback-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    gap: 15px;
    cursor: pointer;
    transition: all 1s;
    margin-top: auto;
}

.go-back-1 {
    display: block;
}

.go-back-2 {
    display: none;
}

.go-back-link {
  display: flex;
  gap: 15px;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 1s; 
}

.go-back-link:hover {
    background-color:  #26C17E; 
}

@media (max-width: 600px) {
    .side-bar {
      width: 54px;
      justify-content: flex-start; /* Esto asegura que los elementos se alineen al inicio */
      align-items: center;
      padding-bottom: 10px; /* Añade un poco de espacio al final del contenedor */
    }
  
    .user-container {
      flex-direction: row; /* Cambia la dirección a fila */
      width: 54px; 
      height: auto; /* Permite que el contenedor se ajuste a su contenido */
      margin-top: 20px; /* Ajusta el margen superior */
      margin-bottom: 100px; /* Añade un pequeño margen entre items */
    }
  
    .user-container > h4,
    .side-bar > ul > div > li,
    .goback-container > span {
      display: none; /* Esconde los textos */
    }
  
    .side-bar > ul > div,
    .goback-container {
      justify-content: center; /* Centra las imágenes en su contenedor */
      width: 54px;
    }
  
    .user-profile-photo {
      width: 40px;
      height: 40px;
    }
  
    .side-bar > ul > div > img {
      margin-left: 0; /* Elimina el margen izquierdo */
    }
  
    .goback-container {
      
      margin-top: auto; /* Empuja el contenedor hacia el fondo */
    }
    .go-back-1 {
        display: none;
    }
    .go-back-2 {
        display: block;
    }
}