@import "../../styles/variables";
@import "../../styles/mixins";

.contacts-container {
  @include container-styles;
}

.contacts-title {
  @include title-styles;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  gap: 12px;

  > div {
    display: flex;
    align-items: center;
    gap: 10px;

    > div {
      display: flex;
      flex-direction: column;
    }
  }
}

.contact-link {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.dark-mode .contact-link {
  color: #ffffff;
}

.contacts-info > div > div > span {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.link {
  font-size: 14px;
  text-decoration: none;
  color: #6f6d6d;
  cursor: pointer;
}

.fb {
  margin: 8px;
}
