.contacts-container {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.contacts-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #26c17e;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contacts-info > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacts-info > div > div {
    display: flex;
    flex-direction: column;
}

.contact-link{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.dark-mode .contact-link {
    color: #ffffff;  /* Color blanco */
}

.contacts-info > div > div > span{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.link {
    font-size: 14px;
    text-decoration: none;
    color: #6f6d6d;
    cursor: pointer;
}

.fb{
    margin: 8px;
}