.about-me-container {
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 30px;
}

.about-me-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #26c17e;
}